* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

nav,
footer {
    padding: 4rem;
}

ul li {
    list-style: none;
}
h1 {
    font-size: 3.4rem;
    text-transform: uppercase;
}
p {
    font-size: 2rem;
}
a {
    font-size: 2.4rem;
    text-transform: uppercase;
    text-decoration: none;
}
button {
    padding: 1rem 2rem;
    font-size: 1.6rem;
}

/* flexbox */
#wrapper {
    flex-grow: 1;
}
.default-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-justify-between {
    justify-content: space-between;
}
.flex-justify-center {
    justify-content: center;
}
.flex-align-center {
    align-items: center;
}
.gap-xl {
    gap: 10rem;
}
.gap-l {
    gap: 8rem;
}
.gap-m {
    gap: 6rem;
}
.gap-s {
    gap: 4rem;
}
.gap-xs {
    gap: 2rem;
}

.align-self-center {
    align-self: center;
}
/* home */
#home-header {
    width: 100%;
    max-width: 100rem;
    margin: 10rem auto 10rem auto;
}
#home-header .header-title {
    text-align: center;
}
.hide-header-info,
.header-title {
    opacity: 0;
    transform: translateY(-50px);
    transition: all 1s ease;
}
.reveal-header-info {
    opacity: 1;
    transform: translateY(0);
}
